@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/8bit-wonder');
body{
    font-family: 'Press Start 2P', cursive; 
    background-repeat: no-repeat ;
    background-attachment: fixed   
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .titulo {
    color: white;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
  }
  
  .subtitulo {
    color: white;
    font-size: 20px;
  }
  
  .tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
  }
  
  .tarjeta-de-dayamon {
    width: 250px;
    height: 100px;
    background: #A5C9CA;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid firebrick;
    border-radius: 20px;
    display: flex;
    box-shadow: -8px 16px rgb(0 0 0 / 49%);
    cursor: pointer;
  }
  
  .tarjeta-de-dayamon img {
    width: 80px;
  }
  
  #boton-mascota {
    margin-top: 92px;
    width: 170px;
    height: 48px;
    border-radius: 20px;
    background:  #E7F6F2;
    border: 3px solid black;
    font-family: '8BIT WONDER', sans-serif;
    box-shadow: 0 0 12px rgb(0 0 0 / 80%);
    cursor: pointer;
  }
  
  input {
    display: none;
  }
  
  input:checked + label {
    background-color: #5D8BF4;
  }
  
  #seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boton-de-ataque {
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  #mensajes {
    width: 280px;
    background: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #boton-reiniciar {
    width: 128px;
    height: 48px;
    background: #E9D5CA;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    font-family: '8BIT WONDER', sans-serif;
    box-shadow: 0 0 12px rgb(0 0 0 / 80%);
    border-color: transparent;
    cursor: pointer;
  }
  #boton-reiniciar imag{
    margin-top: -128px;
    margin-left: 224px;
    width: 156px;
    height: 159px;;
    cursor: pointer;
  }
  .ataques {
    display: grid;
    grid-template-columns: 204px 204px;
    color: white;
  }
  
  #vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
  }
  
  .ataques-jugador, .ataques-enemigo {
    display: flex;
    margin: 10%;
    background-color: #1e3434;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
  }
  
  
  @media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
      flex-direction: column;
    }
  }